input[type="submit"]{
    display: none;
}
input[type="reset"]{
    display: none;
}
input[type="text"]{
    width: 7em;
}
.button{
    border: 1px solid black;
    margin: 10px;
}
div.inBlock{
    display: block;
}
td.space{
    width: 7em;
}
td.titleOfWarning{
    width: 20%;
    padding-left: 2em;
}
td.contentOfWarning{
    width: 80%;
    padding-left: 2em;
}