body {margin:0px;}
div.NavBar {
    text-align: center;
    border: 3px solid black;
    margin: 50px;
}
div.NavBar > ul {
    list-style-type: none;
    width: calc(100% - 5%);
    border: 3px none rgb(0, 0, 0);
    padding: 10px;
    margin-left: 2.5%;
    text-align: center;
}
div.NavBar > ul > li.n {
    padding: 10px;
}
div.NavBar > ul > li.admin {
    padding: 10px;
}
div.NavBar > p {
    width: calc(100% - 5%);
    border: 3px solid green;
    padding: 10px;
    margin-left: 2.5%;
    text-align: center;
    /*width: 80%;*/
    /*padding: 3px;*/
    /*padding-left: 10%;*/
}
input[type="submit"]{
    display: none;
}
p.tips {
    border-left: 6px solid red;
    background-color: lightgrey;
}